<div class="card mt-4 mb-4 challengesContainer">
  <div class="card-header">
    <h5 class="mb-0">Create new challenge</h5>
  </div>
    <form [formGroup]="saveChallengeForm" (ngSubmit)="onSubmit(saveChallengeForm.value)">

      <div>
        <label>Challenge name </label>
        <input type="text" formControlName="name">
      </div>

      <div>
        <label>Start date </label>
        <input type="date" formControlName="start">
      </div>

      <div>
        <label>Finish date </label>
        <input type="date" formControlName="finish">
      </div>

      <div>
        <label>Tags </label>
      </div>
      <div>
        <span *ngFor="let challTag of challenges.tags">
          <input type="checkbox" formControlName="tag"> {{challTag.name}}</span>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-primary mb-4" type="submit">Save</button>
      </div>

    </form>
  </div>
