<div style="text-align:center">
  <h1>ChallengeME!</h1>
  <p class="mb-4 mt-4">You're just one step away from new challenge. Prepare yourself!</p>
</div>

<div class="card text-center m-auto" style="max-width: 400px;">

  <ng-container
    *ngIf="showLoginForm; then loginForm; else registerForm">
  </ng-container>

  <ng-template #loginForm>
    <app-login-form></app-login-form>
    <div class="card-footer text-muted m-0 p-3">
      <p class="option">Don't have account yet?
        <button type="button"
                class="btn btn-link ml-1 p-0 option"
                (click)="switchForm()">Register
        </button>
      </p>
    </div>
  </ng-template>

  <ng-template #registerForm>
    <app-register-form></app-register-form>
    <div class="card-footer text-muted m-0 p-3">
      <p class="option">Already have an account?
        <button type="button"
                class="btn btn-link ml-1 p-0 option"
                (click)="switchForm()">Login
        </button>
      </p>
    </div>
  </ng-template>
</div>
