<div class="card text-center mt-4">
  <div class="card-header">
    Your challenges
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <p class="card-text">challenges works!</p>
    <a class="btn btn-primary" href="#">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
